@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light Mode Defaults */
  :root {
    --background: #FFFFF0; /* Ivory white */
    --foreground: #111827; /* Deep gray/black */
  }

  /* Dark Mode Overrides */
  .dark {
    --background: #030712; /* Dark slate */
    --foreground: #FFFFF0; /* Ivory white text */
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    /* The transition-colors makes the theme swap smooth */
    @apply font-mono antialiased overflow-x-hidden transition-colors duration-500;
  }
}

html {
  scroll-behavior: smooth;
}